<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/watcher/email/1" method="post" id="modalForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="WatcherInputEmail">Email address</label>
                        <input type="email" class="form-control" id="WatcherInputEmail" name="WatchInputEmail"
                               placeholder="Enter email" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Save"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function showModal(data) {
        $("#modalForm").attr("action", "/watcher/email/" + data);
        $("#emailModal").modal();
    }
</script>

